<!DOCTYPE html>
<html>
<head>
	<title>contact me</title>
<link rel="stylesheet" type="text/css" href="index.css">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
	<div id="nav">
		 <a href="index.html" class="active"><i class="fa fa-home w3-xxlarge"></i>HOME</a>
		 <a href="about.html"><i class="fa fa-user w3-xxlarge"></i>ABOUT</a>
		  <a href="contact.html"> <i class="fa fa-envelope w3-xxlarge"></i>CONTACT</a>

			 <div class="dropdown">
			 	<button class="dropbtn">MEDIA
			 	<i class="fa fa-caret-down"></i>
			 </button>
		 <div id="dropdown-content">
	 <a href="#">Audios</a><br>
      <a href="#">Videos</a><br>
      <a href="#">Photos</a>
		 </div>
		</div>
		</div>
	</div>
	<div id="div">
<h1>contact </h1>
      <p><i class="fa fa-map-marker fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Mombasa, Kenya</p>
        <p><i class="fa fa-phone fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Phone: +254729768865</p>
            <p><i class="fa fa-envelope fa-fw w3-text-white w3-xxlarge w3-margin-right"> </i> Email:manthuva2018@gmail.com</p>
            <form id="form" onsubmit="validate()">
            	<input type="text" name="" placeholder="Name" id="user"><br>
            	<input type="Email" name="" placeholder="Message" id="msg"><br>
            	<input type="submit" value="SEND"  class="btn btn-default btn-primary">
            </form>

<footer id="foot"></footer>
</div>
<script src="index.js"></script>
</body>
</html>